body {
    background-color: #f6f5f7;
}

.carousel-item img {
    width: auto;
    height: 500px;
    max-height: 500px;
}

.detail-title {
    font-size: 2.5em;
    font-weight: bold;
}

.detail-container {
    margin: 4em;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 10px 8px #888888;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width: 575.98px) {
    .carousel-item img {
        width: auto;
        height: 300px;
        max-height: 300px;
    }
}