body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.new-form,
.edit-form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 10px 8px #888888;
}