* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
}

.form-check-label:hover,
.form-check-input:hover {
    cursor: pointer;
}

p {
    font-size: 1.1rem;
}

p span {
    font-size: 1.3rem;
}

/* index page */
.image-overlay {
    display: none;
}

.landscape img:hover+.image-overlay,
.image-overlay:hover {
    display: block;
    color: rgba(255, 255, 255, 0.781);
}

.landscape:hover>img {
    filter: brightness(85%);
    transition: all 0.25s ease;
}

.description {
    width: 50%;
    font-size: 1.1em;
}

@media (max-width: 991.98px) {
    .description {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 2.2em
    }

    .description {
        font-size: 0.9em;
    }
}